* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(90deg, #1a0f0f, #2a1a1a);
    color: white;
}

header {
    background: #0b1a5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

section {
    width: 40%;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.box {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: #444;
    color: #ccc;
    cursor: not-allowed;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #0b1a5e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #142b8f;
}

.reagendar {
    background: #8f1414;
}

.reagendar:hover {
    background: #c21c1c;
}

#lista div {
    background: #2c2c2c;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}